Connected Services/Duyurular/Duyurular.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDuyurular_XML">
        <s:complexType />
      </s:element>
      <s:element name="GetDuyurular_XMLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDuyurular_XMLResult">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDuyurular_json">
        <s:complexType />
      </s:element>
      <s:element name="GetDuyurular_jsonResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDuyurular_jsonResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDuyurular_XMLSoapIn">
    <wsdl:part name="parameters" element="tns:GetDuyurular_XML" />
  </wsdl:message>
  <wsdl:message name="GetDuyurular_XMLSoapOut">
    <wsdl:part name="parameters" element="tns:GetDuyurular_XMLResponse" />
  </wsdl:message>
  <wsdl:message name="GetDuyurular_jsonSoapIn">
    <wsdl:part name="parameters" element="tns:GetDuyurular_json" />
  </wsdl:message>
  <wsdl:message name="GetDuyurular_jsonSoapOut">
    <wsdl:part name="parameters" element="tns:GetDuyurular_jsonResponse" />
  </wsdl:message>
  <wsdl:portType name="DuyurularSoap">
    <wsdl:operation name="GetDuyurular_XML">
      <wsdl:input message="tns:GetDuyurular_XMLSoapIn" />
      <wsdl:output message="tns:GetDuyurular_XMLSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDuyurular_json">
      <wsdl:input message="tns:GetDuyurular_jsonSoapIn" />
      <wsdl:output message="tns:GetDuyurular_jsonSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DuyurularSoap" type="tns:DuyurularSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDuyurular_XML">
      <soap:operation soapAction="http://tempuri.org/GetDuyurular_XML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDuyurular_json">
      <soap:operation soapAction="http://tempuri.org/GetDuyurular_json" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Duyurular">
    <wsdl:port name="DuyurularSoap" binding="tns:DuyurularSoap">
      <soap:address location="https://api.ibb.gov.tr/iett/UlasimDinamikVeri/Duyurular.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>